body {
    font-family: 'Roboto Condensed', sans-serif, 'Segoe UI', Tahoma, Geneva, Verdana;
}

header,{
    overflow: hidden;
    justify-content: space-between;
    display: inline-flex;
    align-items: center;
    width: 100%;
    background-color: #EFEFEF;
    padding: 20px;
    padding-left: 0px;
    padding-right: 0px;
  
}

footer {
    text-align: center;
}

.nomargin {
    margin-top: 0%;
    margin-bottom: 0%;
    
}

.test {
    postion:relative;
}

.nomargin2 {
    margin: 0%;
    
}

header a {
    color: rgb(25, 25, 25);
}

nav img {
    padding: 5px;
}


.navbuttonsize {
    max-width: 35px;
}
.searchbuttonsize {
    max-width: 31px;
}

/*Text variations*/

.yellowtext {
    color:rgb(170, 133, 0)
}

.centertext {
    text-align: center;
}

.redtext {
    color: #7C0000;
}

.redhighlight {
    background-color: #7C0000;
    color: white;
}


/*NAV positioning*/

.navpositioning {
    display: flex;
    align-items: baseline;
    font: size 20px;
    
}

.navbuttonspositioning {
    position: relative;
    left: 1050px;
    padding: 15px;
    top: 10px;
    max-width: 35px;
}

.navpadding {
    padding: 15px;
}

nav,
nav li{
    display: inline-block;


}



/*text transformat
padding:ion/positioning HOMEPAGE*/

.weight300 {
    font-weight: 300;
    letter-spacing: 1px;
}

.register {
    font-size: 43px;
    font-weight: 300;
    text-transform: 
    padding:uppercase;
    padding: 10px;
}
.freeaccount {
    font-size: 20px;
    font-weight: 300;
    padding: 0px 10px 10px 10px;

}

.squareeyes {
    font-size: 90px;
    text-transform: 
    padding:uppercase;
    color: #AA8500;

}
.fp_info_register {
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.5px;
    padding: 10px;
}

.gray-cta-positioning1 {
    position: absolute;
    top: 880px;
    left: 810px;
}
.gray-cta-positioning2 {
    position: absolute;
    top: 880px;
    left: 1050px;
}

.FP_spooky{
    position: relative;
    top: 5px;
    font-size: 15px;
}

.Spooky_season {
    position: relative;
    top: -10px;
    font-weight: 300;
}

.cinemaexperience1 {
    position: absolute;
    left: 30px;

}
.cinemaexperience2 {
    position: absolute;
    top: 400px;
    left: 30px;

}

.uppercase {
    text-transform: 
    padding:uppercase;
}

/*text transformat
padding:ion/positioning REGISTER*/

.squareeyesreg {
    font-size: 80px;
    position: relative;
    top: -300;
    left: 50px;
    margin: 0px;
}

.welcometo {
    font-size: 30px;
    position: relative;
    top: -300;
    left: 5px;
    margin: 0px;
    padding: 5px 50px;
}

.makeanaccount1 {
    font-size: 17px;
    position: relative;
    top: -300;
    left: 55px;
    margin: 0px;
    letter-spacing: 8px;

}

.makeanaccount2 {
    font-size: 16px;
    position: relative;
    top: 5px;
    left: 235px;
    margin: 0px;
    letter-spacing: 0.5px;

}

/*text transformat
padding:ion/positioning COLLECTION*/


/*buttons*/
/* homepage */

.whitetext {
    color: white;
}

.moviebackround {
    background-color: #252525;
}

/* Movie posters */

.fp-movie-collection {
    max-width: 210px;
    padding: 5px;
    border-radius: 10px;
}

.batman {
    max-width: 210px;
    padding: 5px;
    border-radius: 10px;
}

.sweetheart {
    max-width: 220px;
    padding: 5px;
    border-radius: 10px;
}

.hobbs {
    max-width: 196px;
    padding: 5px;
    border-radius: 10px;
}

.scream {
    max-width: 200px;
    padding: 5px;
    border-radius: 10px;
}


/* Links */
a {
    text-decoration: none;
}

.active {
    text-decoration: underline;
}


/* about us */

.about-us-main {
    background-color: rgb(37, 37, 37);
    color: rgb(255, 255, 255);
}

    .allatoneplace {
        position: static;
        top: 50px;
        left: -10px;
    }

    
.aboutus_logo {
    position: relative;
    top: -300px;
    left: 1350px;

}

.aboutus_text {
    position: relative;
    top: -300px;
    left: 1390px;
    text-transform: 
    padding:uppercase;
    font-weight: 300;

}


.aboutus {
    margin: auto;
    display: flex;
    flex-direction: column;
    flex: 2;

}

.aboutus > * {
    flex: 1;
}

/*contact us */

.contact-us-backround {
    background-color: rgb(37, 37, 37);
    color: white;
}

.yellowbackround_contact {
    background-color: rgb(170, 133, 0);
    color: white;
    font-weight: 300;
    padding: 10px 10px 10px 100px;
    font-size: 14.5px;
    letter-spacing: 3px;
}

.squareeyes__contact {
    font-size: 60px;
    text-transform: 
    padding:uppercase;
    position: relative;
    top: 0px;
    left: 100px;
    color: #AA8500;
    letter-spacing: 5px;
    }

.contactusat {
    font-size: 20px;
    font-weight: 300;
    position: relative;
    top: 50px;
    left: 100px;
    letter-spacing: 2px;
}

.mappic {
    border-radius: 1000px;
    width: 300px;
    position: relative;
    top: -200px;
    left: 200px;
    
}



.contact {
    max-width: 800px;
    margin: auto;
}

form {
    padding: 10px;
    flex-direction: row;
}

input, select, textarea {
    margin: 10px 10px 10px 0px;
}




.socialmediatext {
    font-size: 16px;
    font-weight: 300;
    position: relative;
    top: -180px;
    left: 210px;ƒ
    letter-spacing: 3px;
}

.socialmediapic1 {
    position: static;
  
}
.socialmediapic2 {
    position: static;
    
}
.socialmediapic3 {
    position: static;
    
}




/* collection */

.collection-backround {
    background-color: rgb(37, 37, 37);
    color: white;
    text-align: center;
}

.playbutton {
    position: absolute;
    top: 300px;
    left: 850px;
}

.pulpfictionbig {
    background-image: url(images/pulpfiction.jpg);
    min-height: 80vh; 
    background-repeat: no-repeat;
    position: relative;
}

/* product pages */

.product-page-backround {
    background-color: rgb(37, 37, 37);
    color: white;
}


/* check out */

.checkout-backround {
    background-color: #40403F;
    color: white;
}

/* order confirmed */

.order-confirmed-backround {
    background-color: #1A1919;
    color: white;
}

.order-confirmed-image {
    background-image: url(images/popcorn.jpg);
    background-size: cover;
    min-height: 50vh; 
    opacity: 40%;
}

/*Register page*/

.backroundcolor {
    background-color: #D9D9D9;
}


.popcornpic {
    background-image: url(images/popcorn.jpg);
    background-size: cover;
    min-height: 15vh; 
    opacity: 80%;
}

.textpadding {
    padding: 20px;
}



_________

.moviescontainer {
    display: flex;
    position: static;
}


.spookyflex {
    display: flex;
    justify-content: center;
}

.main1 {
    overflow: hidden;
    justify-content:center;
    display: inline-flex;
    align-items: center;
    width: 100%;
    }

.navcontainer{
   display: flex;
   position: static;
 }

 .navbutton {
    display: inline-block;
    padding: 10px;
    margin-left: 50px
 }

 .navbutton2 {
    display: inline-block;
    padding: 10px;
    margin-left: 0px
 }

 .header1 {
    overflow: hidden;
    justify-content: space-between;
    display: inline-flex;
    align-items: center;
    width: 100%;
 }


 .bottominfo {
    width: 100%;
    justify-content: center;
 }

 .bottominfo * > {
    flex: 1;
 }

 __________

 .staticfronttext {
    position: static;
 }

 /*NEWW*/

 /*HOMEPAGE*/



 .cinemapic {
    background-image: url(../images/cinemachairs.jpg);
    background-size: cover;
    min-height: 50vh;
    background-position-y: bottom;
    background-repeat: no-repeat;

}

.containeryey {
    padding: 3em;
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(auto-fit, minmac(250px, 1fr));;
}
